{% extends 'generator/base.html' %}

{% block content %}
<h1>Info</h1>
<p class="info-page">
    На главной странице пользователю предоставляется форма с опциями для настройки генерации пароля.<br>
Пользователь может выбрать длину пароля из предложенного диапазона и установить опции включения заглавных букв, цифр и специальных символов.<br>
    После выбора параметров, пользователь нажимает кнопку <span>Generate Password</span>.
</p>
<h3>Request processing </h3>
<p class="info-page">
    Когда пользователь нажимает "Generate Password", выполняется функция генерация пароля.
Функция создает список символов, начиная с букв в нижнем регистре.<br>
Если выбрана опция <span>uppercase</span>, добавляются заглавные буквы.<br>
    Если выбрана опция <span>numbers</span>, добавляются цифры.<br>
    Если выбрана опция <span>special</span>, добавляются специальные символы.<br>
Затем функция создает пароль, выбирая случайные символы в соответствии с выбранными параметрами.
</p>
<p> <a class="back-main" href="{% url 'home' %}">Back Main </a></p>

{% endblock %}