body{
    background: rgba(0, 0, 0, 0.76);
    font-family: Georgia sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

.container{
    width: 400px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: rgb(162, 162, 162);
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgba(111, 13, 231, 0.35);
}

.container form, .container h2{
    background: rgba(0, 0, 0, 0.4);
    color: rgba(1, 204, 12, 0.79);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 11px;
    font-size: 1.3rem;
    border: 3px solid rgba(111, 13, 231, 0.35);

}

.gen_submit{
    font-size: 1rem;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #a2a2a2;
    border-radius: 8px;
    border: 3px solid rgba(111, 13, 231, 0.35);
    transition: background-color ease-in-out 0.4s;
}

.gen_submit:hover{
 background-color: rgba(13, 231, 174, 0.58);

}

.menu_len{
    font-size: 1rem;
    border: 1px solid rgba(13, 231, 174, 0.85);
    background-color: rgb(28, 28, 28);
    color: #ffffff;
}

.count{
    color: rgba(1, 204, 12, 0.79);
    border: 3px solid rgba(111, 13, 231, 0.35);
    background-color: rgb(28, 28, 28);
    border-radius: 11px;
    padding: 5px;
    letter-spacing: 2px;
}

.check_c{
    color: rgba(1, 204, 12, 0.79);
    background-color: rgb(28, 28, 28);
    border: 3px solid rgba(111, 13, 231, 0.35);
    letter-spacing: 1px;
    padding: 11px;
    border-radius: 11px;
}

.check_c input {
    margin-bottom: 20px;
    font-size: 1rem;
}

.home_page{
    text-decoration: none;
    font-size: 1.4rem;
    color: #c5c4c4;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px;
    border-radius: 8px;
    border: 3px solid rgba(111, 13, 231, 0.35);
    transition: background-color ease-in-out 0.4s;
    margin: 100px;
}

.home_page:hover{
    background-color: rgba(13, 231, 174, 0.68);
}

.info-url {
    color: rgba(238, 165, 120, 0.58);
    background: rgba(0, 0, 0, 0.44);
    padding: 3px;
    border: 3px solid rgba(111, 13, 231, 0.35);
    margin: 37px;
    border-radius: 8px;

}

.info-page{
    color: #a2a2a2;
    border: 3px solid rgba(111, 13, 231, 0.35);
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 8px;
    font-size: 1.1em;
}

h3{
    color: rgb(162, 162, 162);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 8px;
    border: 3px solid rgba(111, 13, 231, 0.35);
}

span{
    color: rgba(1, 204, 12, 0.79);
    font-weight: bold;
}

.back-main{
    text-decoration: none;
    font-size: 1em;
    color: rgba(238, 165, 120, 0.58);
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px;
    border-radius: 8px;
    border: 3px solid rgba(111, 13, 231, 0.35);
    transition: background-color ease-in-out 0.4s;
    margin: 80px;
}